<div class="border-word">
   <h1 id="vocabulary"></h1>
   <h2 id="reading"></h2>
</div>
<br>
<section>
   <div class="answer-label">
      <div class="answer-button" id="buttons">
         <button mat-raised-button id="randomButton" (click)="testclick()"></button>
         <button mat-raised-button id="randomButton2" (click)="testclick2()"></button>
         <button mat-raised-button id="randomButton3" (click)="testclick3()"></button>
      </div>
   </div>
   <br>
   <!-- <div *ngIf="messageService.messages.length">
      <div *ngFor='let message of messageService.messages' class="message"> {{message}}</div>
   </div> -->
   <div class="result">{{result}}</div>
   <br><br>
   <nav>
      <a class="button" (click)="refreshWords()" routerLink="activebutton">Next Word</a>
   </nav>
   <br>
   <div class="score-label">
      <!-- <div>Score<div id="score"></div></div> -->
      <p>Score: <span id="score"></span> points</p>
   </div>
   
   <!-- <router-outlet></router-outlet> ยังไม่มี event ที่ page not found--> 
</section>