* {
    text-align: center;
    font-family: mali;
    position: relative;
    width: 100%;
    height: inherit;
}
h2 {
  margin-top: 5%;
  font-weight: bold;
  font-size: 4em;
  color: orange;
  text-shadow: 0 2px 0 yellow;
  position: relative;
}
.logo{
  width:16%;
  margin-top: 1%;
  margin-left: 1%;
  margin-bottom: -2%;
}